#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

// Layer indices MUST match the order the layer nodes appear in the keymap
// node below (first child = 0, second = 1, ...). ZMK assigns indices by
// position, not by name, so inserting a layer node without renumbering here
// silently repoints every &mo/&lt/&tog/&zip_temp_layer at the wrong layer.
// Current node order: base, numbers, function, symbol_1, symbol_2, aoe4,
// aoe4_fn, admin, auto_mouse, factory.
#define BASE 0
#define NUMBERS 1
#define FUNCTION 2
#define SYMBOL_1 3
#define SYMBOL_2 4
#define AOE4 5
#define AOE4_FN 6
#define ADMIN 7
#define AUTO_MOUSE 8
#define FACTORY 9

/ {
    chosen { zmk,physical-layout = &physical_layout_imprint_number_row; };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <50>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        td_aoe4: tap_dance_aoe4 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&none>, <&layer_toggle_flash AOE4>;
        };
    };

    macros {
        layer_toggle_flash: layer_toggle_flash {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings =
                /*
                 * Do the actual layer toggle first, with the macro's own
                 * parameter forwarded in as the layer to toggle, so the
                 * flash never delays it.
                 */
                <&macro_param_1to1>, <&tog 0>,
                /*
                 * Flash by inverting the underglow for 250ms, then inverting
                 * back. RGB_TOG is relative, so this restores whatever the
                 * previous on/off state was without needing to read it: off
                 * blinks bright, on blinks dark. Colour, effect, brightness
                 * and saturation are never touched.
                 */
                <&macro_wait_time 250>,
                <&rgb_ug RGB_TOG>,
                <&macro_wait_time 0>,
                <&rgb_ug RGB_TOG>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp EQUAL  &kp N1        &kp N2        &kp N3        &kp N4        &kp N5       &kp N6        &kp N7         &kp N8       &kp N9       &kp N0        &kp MINUS
&kp TAB    &kp Q         &kp W         &kp E         &kp R         &kp T        &kp Y         &kp U          &kp I        &kp O        &kp P         &kp BSLH
&lt NUMBERS CAPS  &hm LGUI A    &hm LALT S    &hm LCTRL D   &hm LSHFT F   &kp G        &kp H         &hm RSHFT J    &hm RCTRL K  &hm LALT L   &hm RGUI SEMI &kp SQT
&kp LSHFT  &kp Z         &kp X         &kp C         &kp V         &kp B        &kp N         &kp M          &kp COMMA    &kp DOT      &kp FSLH      &td_aoe4
                      &kp LGUI      &kp LALT                                                           &kp LBKT      &kp RBKT
                                                  /* upper-left */  &kp LC(LA(LS(LGUI)))  &mo FUNCTION  &mo ADMIN
                                                  /* upper-right */ &none  &none  &none
                                                  /* lower-left */  &mt LC(LA(LSHFT)) TAB  &kp SPACE &lt NUMBERS ESC
                                                  /* lower-right */ &lt SYMBOL_1 ESC &lt NUMBERS RET &lt SYMBOL_2 BSPC
            >;
        };

        numbers_layer {
            bindings = <
&trans  &trans      &trans  &trans  &trans  &trans          &trans     &trans    &trans    &trans    &trans     &trans
&trans  &none       &none   &none   &none   &none           &kp MINUS  &kp N7    &kp N8    &kp N9    &kp EQUAL  &trans
&trans  &none       &none   &none   &mkp MB4 &mkp MB5        &kp BSLH   &kp N4    &kp N5    &kp N6    &kp N0     &trans
&trans  &none       &none   &none   &none   &none           &kp GRAVE  &kp N1    &kp N2    &kp N3    &kp FSLH   &trans
                 &trans   &trans                                                            &trans  &trans
                                                  /* upper-left */  &trans  &trans  &trans
                                                  /* upper-right */ &trans  &trans  &trans
                                                  /* lower-left */  &trans  &trans  &trans
                                                  /* lower-right */ &trans  &trans  &trans
            >;
        };

        function_layer {
            bindings = <
&kp F11  &kp F1   &kp F2   &kp F3   &kp F4   &kp F5         &kp F6   &kp F7   &kp F8   &kp F9   &kp F10  &kp F12
&trans   &trans   &trans   &trans   &trans   &trans         &trans   &trans   &trans   &trans   &trans   &trans
&trans   &trans   &trans   &trans   &trans   &trans         &trans   &trans   &trans   &trans   &trans   &trans
&trans   &trans   &trans   &trans   &trans   &trans         &trans   &trans   &trans   &trans   &trans   &trans
                 &trans   &trans                                                            &trans  &trans
                                                  /* upper-left */  &trans  &trans  &trans
                                                  /* upper-right */ &trans  &trans  &trans
                                                  /* lower-left */  &trans  &trans  &trans
                                                  /* lower-right */ &trans  &trans  &trans
            >;
        };

        Symbol_1_Layer {
            bindings = <
&trans     &trans     &trans     &trans      &trans     &trans            &trans     &trans        &trans        &trans      &trans    &trans
&trans     &kp LBRC   &kp LPAR   &kp RPAR    &kp RBRC   &kp QMARK         &none      &none         &none         &none       &none     &trans
&trans     &kp CARET  &kp EQUAL  &kp UNDER   &kp DLLR   &kp STAR          &kp LEFT   &kp DOWN      &kp UP        &kp RIGHT   &none     &trans
&trans     &kp EXCL   &kp LBKT   &kp RBKT    &kp MINUS  &kp FSLH          &none      &none         &none         &none       &none     &trans
                 &trans   &trans                                                            &trans  &trans
                                                  /* upper-left */  &trans  &trans  &trans
                                                  /* upper-right */ &trans  &trans  &trans
                                                  /* lower-left */  &trans  &trans  &trans
                                                  /* lower-right */ &trans  &trans  &trans
            >;
        };

        Symbol_2_Layer {
            bindings = <
&trans     &trans      &trans      &trans     &trans     &trans          &trans      &trans      &trans      &trans      &trans      &trans
&trans     &kp HASH    &kp COLON   &kp SEMI   &kp SQT    &kp DQT         &none       &none       &none       &none       &none       &trans
&trans     &kp TILDE   &kp LT      &kp GT     &kp PIPE   &kp BSLH        &none       &none       &none       &none       &none       &trans
&trans     &kp AT      &kp AMPS    &kp PRCNT  &kp PLUS   &kp DOT         &none       &none       &none       &none       &none       &trans
                 &trans   &trans                                                            &trans  &trans
                                                  /* upper-left */  &trans  &trans  &trans
                                                  /* upper-right */ &trans  &trans  &trans
                                                  /* lower-left */  &trans  &trans  &trans
                                                  /* lower-right */ &trans  &trans  &trans
            >;
        };

        aoe4_layer {
            display-name = "AOE4";
            bindings = <
&kp ESC     &kp N1   &kp N2   &kp N3   &kp N4   &kp N5         &kp N6   &kp N7   &kp N8      &kp N9    &kp N0    &kp BSPC
&kp LALT    &kp Q    &kp W    &kp E    &kp R    &kp T          &kp Y    &kp U    &kp I       &kp O     &kp P     &none
&lt AOE4_FN DEL  &kp A    &kp S    &kp D    &kp F    &kp G          &kp H    &kp J    &kp K       &kp L     &kp SEMI  &kp SQT
&kp TAB     &kp Z    &kp X    &kp C    &kp V    &kp B          &kp N    &kp M    &kp COMMA   &kp DOT   &kp FSLH  &td_aoe4
                 &kp SPACE  &kp LCTRL                                                          &kp BSPC  &kp RCTRL
                                                  /* upper-left */  &trans  &trans  &trans
                                                  /* upper-right */ &trans  &trans  &trans
                                                  /* lower-left */  &kp LCTRL  &kp LSHFT  &kp H
                                                  /* lower-right */ &trans  &kp RET  &trans
            >;
        };

        aoe4_fn_layer {
            display-name = "AOE4 FN";
            bindings = <
&trans  &kp N6   &kp N7      &kp N8    &kp N9   &kp N0      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp F1   &kp F2      &kp F3    &kp F4   &kp F5      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &none    &kp HOME    &kp COMMA &kp DOT  &kp SQT     &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans   &trans      &trans    &trans   &trans      &trans  &trans  &trans  &trans  &trans  &trans
                 &trans   &trans                                                            &trans  &trans
                                                  /* upper-left */  &trans  &trans  &trans
                                                  /* upper-right */ &trans  &trans  &trans
                                                  /* lower-left */  &trans  &trans  &trans
                                                  /* lower-right */ &trans  &trans  &trans
            >;
        };

        Admin_Layer {
            bindings = <
&bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &rgb_ug RGB_TOG &rgb_ug RGB_EFF  &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_BRI  &rgb_ug RGB_SPI
&trans       &trans        &trans        &trans        &trans        &trans         &rgb_ug RGB_HUD &rgb_ug RGB_SAD  &rgb_ug RGB_BRD  &rgb_ug RGB_SPD  &rgb_ug RGB_EFR  &trans
&trans       &trans        &trans        &trans        &trans        &trans         &trans          &kp K_VOL_DN     &kp K_VOL_UP     &kp K_MUTE       &trans           &trans
&to FACTORY  &trans        &trans        &trans        &trans        &trans         &trans          &trans           &trans           &trans           &trans           &to FACTORY
                 &trans   &trans                                                            &trans  &trans
                                                  /* upper-left */  &trans  &trans  &trans
                                                  /* upper-right */ &trans  &trans  &trans
                                                  /* lower-left */  &trans  &trans  &trans
                                                  /* lower-right */ &trans  &trans  &trans
            >;
        };

        Auto_Mouse_Layer {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans         &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans         &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans         &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans         &trans  &trans  &trans  &trans  &trans  &trans
                 &trans   &trans                                                            &trans  &trans
                                                  /* upper-left */  &trans  &trans  &trans
                                                  /* upper-right */ &mkp LCLK  &mkp MCLK  &mkp RCLK
                                                  /* lower-left */  &trans  &trans  &trans
                                                  /* lower-right */ &trans  &trans  &trans
            >;
        };

        factory_test {
            bindings = <
&kp N2  &kp N3  &kp N4  &kp N5  &kp N6  &kp N7         &kp N8  &kp N9  &kp N0  &kp N1  &kp N2  &kp N3
&kp N4  &kp N5  &kp N6  &kp N7  &kp N8  &kp N9         &kp N0  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5
&kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &kp N1         &kp N2  &kp N3  &kp N4  &kp N5  &kp N6  &kp N7
&kp N8  &kp N9  &kp N0  &kp N1  &kp N2  &kp N3         &kp N4  &kp N5  &kp N6  &kp N7  &kp N8  &kp N9
                 &kp N2   &kp N3                                                            &kp N7  &kp N8
                                                  /* upper-left */  &kp N1  &kp N2  &kp N3
                                                  /* upper-right */ &kp N4  &kp N5  &kp N6
                                                  /* lower-left */  &kp N7  &kp N8  &kp N9
                                                  /* lower-right */ &kp N0  &kp N1  &kp N2
            >;
        };
    };
};

&trackball_peripheral_listener {
    input-processors =
        <&zip_temp_layer AUTO_MOUSE 500>;
};

&trackball_central_listener {
    input-processors =
        <&zip_xy_scaler 1 12>,
        <&zip_xy_to_scroll_mapper>,
        <&zip_scroll_transform INPUT_TRANSFORM_Y_INVERT>;
};
